* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.title {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 15px;
}


.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-area button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}


.task {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}


.task-light {
    background-color: #e6f3f8;
}


.task-green {
    background-color: #b6d99c;
}


.completed {
    text-decoration: line-through;
}