body {
    background-color: #2f3b52;
    font-family: Arial, 'Times New Roman';
    margin: 20px;
}

/*spacing*/
section {
    margin-bottom: 20px;
}

header {
    background-color: #7f93c9;
    padding: 20px;
    border: 1px solid #c9c7bf;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #f5f4ef;
}

nav {
    background-color: #7f93c9;
    padding: 15px;
    text-align: center;
    border: 1px solid #c9c7bf;
}

nav ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

nav li {
    background-color: #e6dccf;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #c9c7bf;
}

nav a {
    color: #2f3b52;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #7f93c9;
}

#about {
    background-color: #dfe6f5;
    padding: 15px;
    border: 1px solid #c9c7bf;
}

#about h2 {
    color: #2f3b52;
}

#about p {
    line-height: 1.6;
    color: #2f3b52;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f5f4ef;
}

th {
    border: 1px solid #c9c7bf;
    padding: 10px;
    text-align: left;
    background-color: #7f93c9;
    color: #f5f4ef;
}

td {
    border: 1px solid #c9c7bf;
    padding: 10px;
    text-align: left;
    background-color: #e6dccf;
    color: #2f3b52;
}

form {
    background-color: #f5f4ef;
    border: 1px solid #c9c7bf;
    padding: 20px;

    
    display: grid;
    grid-template-columns: 160px 1fr;
    row-gap: 12px;
    column-gap: 12px;
    align-items: center;
}

form>label {
    display: block;
}

form>input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

fieldset {
    grid-column: 1 / -1;
    margin-bottom: 15px;
    padding: 10px;
}


fieldset label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
}

fieldset input {
    width: auto;
}

label[for="comments"] {
    grid-column: 1 / -1;
}

#comments {
    grid-column: 1 / -1;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    grid-column: 1 / -1;
    background-color: #7f93c9;
    color: #f5f4ef;
    padding: 10px;
    border: 1px solid #c9c7bf;
    border-radius: 5px;
    width: fit-content;
}

input[type="submit"]:hover {
    color: #2f3b52;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    border-top: 1px solid #c9c7bf;
    padding-top: 10px;
    background-color: #2f3b52;
    color: #f5f4ef;
}