body {
    margin: 0;
    padding: 0;

    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
    font-family: Arial, sans-serif;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: -1;
}

/* ===== MAIN LAYOUT ===== */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    padding: 80px 40px;
}

/* ===== LEFT PANEL ===== */
.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== TITLE ===== */
.title {
    color: gold;
    font-size: 36px;
    margin-bottom: 40px;
}

/* ===== CHARACTER GRID ===== */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 30px;
}

/* ===== CHARACTER BOXES ===== */
.character {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 5px solid #070e22;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.2s;
}

.character:hover {
    opacity: 1;
}

.character.selected {
    outline: 4px solid rgb(20, 51, 7);
}

/* ===== RED CHOSEN PANEL ===== */
.right {
    border: 6px solid red;
    width: 520px;
    height: 700px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
}

#mainImage {
    width: 100%;
    height: 460px;
    object-fit: contain;
    margin-bottom: 20px;
}

/* ===== NAME ===== */
#characterName {
    font-size: 40px;
    margin: 10px 0 6px;
    text-align: center;
}

/* ===== DESCRIPTION ===== */
#characterDesc {
    font-size: 30px;
    text-align: center;
    line-height: 1.6;
}