body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* TITLE */
h1 {
    margin: 16px 0;
}

/* PREVIEW STACK */
.preview {
    position: relative;
    width: 80px;
    height: 210px;
    margin: 0 auto 15px;
}

/* ARMOR LAYERS */
.layer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    image-rendering: pixelated;
    display: none;
}

/* TIGHT STACKING */
#helmet {
    top: 20;
    width: 42px;
}

#armor {
    top: 28px;
    width: 64px;
}

#leggings {
    top: 85px;
    width: 46px;
}

#boots {
    top: 120px;
    width: 48px;
}


h3 {
    margin: 8px 0 4px;
    font-size: 16px;
}

/* OPTIONS ROW  */
.options {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 12px;
}

/* ARMOR OPTIONS */
.option {
    width: 56px;
    cursor: pointer;
    opacity: 0.6;
    border: 2px solid transparent;
    image-rendering: pixelated;
}

.option:hover {
    opacity: 1;
}

.option.selected {
    border: 2px solid lime;
    opacity: 1;
}